.transfers {
  // display: flex;
  // flex-direction: column;
  // &__low {
  //   display: flex;
  //   flex-direction: column;
  // }
  width: 232px;
  height: 252px;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &__name {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #4a4a4a;
  }
  &__low {
    // margin-left: 20px;
    // padding-left: 20px;
  }
}
.ant-checkbox-group {
  flex-direction: column;
  // margin-left: 20px;
}
.ant-checkbox-wrapper {
  // margin-left: 8px;
  padding-left: 25px;
  margin: 10px 30px 10px 8px;
}
